{% extends 'base.html' %}
{% load static %}
{% block content %}
<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Syrian SMS Classifier</h1>
        <p>CLassify your messages to SPAM or HAM using the power of NLP and Django</p>
        <p><a class="btn btn-primary btn-lg" href="https://github.com/AhmedHritani/Syrian-SMS-Spam-Classification" role="button">Learn more &raquo;</a></p>
      </div>
    </div>
  
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2>Please type your message down below</h2>
          <form action="{% url 'classify' %}" method="POST">
              {% csrf_token %}
              <div class="form-group">
                <textarea class="form-control" name="message"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Classify!</button>
            </form>
        </div>
        <div class="col-md-4">
            {% if prediction %}
            <h3 class="center">Your message is: </h3>
            <h4 class="center">{{ prediction }}</h4>
            {% else %}
            <h3 class="center">Try it out</h3>
            {% endif %}
        </div>
      </div>
  
      <hr>
  
    </div> <!-- /container -->
  
  </main>
<!-- <div class="container">
  <div class="row">
    You can type your message in the box below
  </div>
  <div class="row">
    <form action="{% url 'classify' %}" method="POST">
      {% csrf_token %}
      <div class="form-group">
        <label for="message">Your Message</label>
        <textarea class="form-control" name="message"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Classify!</button>
    </form>
  </div>

  <div class="row">
    {% if prediction %}
    <h1>Result is: {{ prediction }}</h1>
    {% else %}
    <h1>Please type your message</h1>
    {% endif %}
  </div>
</div> -->
{% endblock %}